# Entornos virtuales
venv/
env/

# Variables de entorno (¡Contiene tu API Key, NUNCA lo subas!)
.env

# Modelos locales descargados (pesan mucho y se descargan automáticamente)
model-es/
vosk_model.zip

# Archivos de audio temporales
respuesta.mp3
*.mp3

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
